/* Layout width variables */
/* Colors */
/*#region Global font */
body.ge {
    font-family: 'Open Sans', sans-serif;
    color: #000;
  }
  body.ge a {
    color: #d2a450;
  }
  body.ge h1 {
    margin-bottom: 30px;
  }
  /*#endregion */
  /*#region Global Layout*/
  .page {
    padding-bottom: 30px;
  }
  body.ge p {
    line-height: 1.75;
  }
  hr {
    margin: 30px 0 30px 0;
  }
  /*#endregion */
  /*#region Global image */
  div.cropTop {
    overflow: hidden;
  }
  div.cropTop > img {
    /* corrects inline gap in enclosing div */
    display: block;
    max-width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    width: auto\9;
    /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic;
  }
  /*#endregion */
  
  /*#region ------------------ Menu -------------------- */
  .navbar {
    -webkit-box-shadow: 0 1px 25px 0 rgba(107, 107, 107, 0.5);
    -moz-box-shadow: 0 1px 25px 0 rgba(107, 107, 107, 0.5);
    box-shadow: 0 1px 25px 0 rgba(107, 107, 107, 0.5);
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    background-color: #fff;
  }
  .navbar .navbar-brand {
    display: block;
    height: 85px;
  }
  .navbar a.navbar-brand {
    /*text-transform: uppercase;*/
    color: #c18429;
    font-size: 28px;
    /*font-family: 'Noto Serif', serif;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
  .navbar .navbar-brand .logo {
    max-height: 55px;
    display: inline-block;
    padding-top: 4px;
    margin-top: -3px;
  }
  /*.navbar .navbar-brand .brandname{
      white-space:pre-line;
  }*/
  .navbar .menu {
    margin-top: 16px;
  }
  .navbar .menu li a {
    color: #333;
    font-size: 15px;
  }
  .navbar .menu li a:hover {
    color: #d2a450;
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .navbar .navbar-brand .logo {
      max-height: 45px;
      margin-top: -5px;
    }
    .navbar .navbar-brand {
      height: 70px;
    }
    .navbar a.navbar-brand {
      font-size: 19px;
    }
    .navbar .menu {
      /*font-size: 15px;*/
      margin-top: 12px;
    }
    .navbar .menu li a {
      padding: 12px 8px;
      font-size: 15px;
    }
  }
  @media (max-width: 767px) and (min-width: 360px), (max-width: 991px) and (min-width: 768px) {
    .navbar .navbar-brand .logo {
      max-height: 38px;
    }
    .navbar a.navbar-brand {
      font-size: 23px;
    }
    .navbar .navbar-brand {
      height: 65px;
    }
  }
  @media (max-width: 359px) {
    .navbar .navbar-brand .logo {
      max-height: 30px;
    }
    .navbar a.navbar-brand {
      font-size: 20px;
    }
    .navbar .navbar-brand {
      height: 54px;
    }
  }
  /*#endregion */
  /*#region Sticky footer */
  body.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  .sfRow {
    display: table-row;
    height: 1px;
  }
  .sfRow.sfExpand {
    height: auto;
  }
  .sfFullHeight {
    height: 100%;
    width: 100%;
  }
  /*#endregion */
  /*#region Footer */
  footer .footerWrapper {
    background-color: #293031;
    color: #eee;
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 0 20px 0;
  }
  footer .content {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  footer h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  footer .glyphicon,
  footer .fa {
    margin-right: 9px;
    color: #d2a450;
  }
  /*footer .shops .address{
      display: inline-block;
  }*/
  footer .shops ul {
    margin-bottom: 24px;
  }
  footer .shops ul li {
    margin-bottom: 9px;
  }
  footer .contact .facebook {
    color: #ddd;
  }
  footer .article h5 a {
    font-size: 1.2em;
    color: #888;
  }
  footer .article h5 a:hover {
    color: #d2a450;
    text-decoration: none;
  }
  footer .article .shortDesc {
    font-size: 1.0em;
    color: #ccc;
  }
  footer .article div.cropTop {
    max-height: 120px;
    box-shadow: inset 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
  /*#endregion */
  /*#region PAGE: Mainpage */
  .mainPage h2 {
    margin-bottom: 20px;
  }
  .mainPage .sectionItem {
    display: block;
    padding: 0 0 25px 0;
    margin: 0 0 20px 0;
    /* border-bottom: 2px solid #d2a450; */
  }
  .mainPage .sectionItem:last-child {
    padding: 0 0 0 0;
    border-bottom: none;
  }
  .mainPage .articles .more {
    text-align: center;
    font-size: 125%;
    text-transform: uppercase;
  }
  .mainPage hr {
    border-top-color: #ccc;
    border-bottom: 1px solid #fdfdfd;
  }
  @media (max-width: 767px) {
    .mainPage h1 {
      font-size: 31px;
    }
  }
  /*#endregion */
  /*#region PAGE: Products */
  .brands h2 {
    font-size: 1.7em;
  }
  .brands ul li {
    max-width: 260px;
    margin: 0 20px 20px 0;
  }
  .brands ul li img {
    max-height: 140px;
  }
  @media (max-width: 991px) {
    .brands ul li {
      max-width: 220px;
    }
    .brands ul li img {
      max-height: 120px;
    }
  }
  /*#endregion */
  /*#region PAGE: Articles */
  .articlesParent .list .wrapper {
    margin: 0 0 20px 0;
  }
  .articlesParent .list .wrapper .image {
    display: block;
    max-height: 200px;
    overflow: hidden;
    margin: 0 0 20px 0;
  }
  .articlesParent .list .wrapper .image a {
    display: block;
  }
  .articlesParent .list .wrapper .image a img {
    display: block;
    width: 100%;
  }
  .articlesParent .list .wrapper h3 {
    margin: 0 0 20px 0;
    font-size: 1.3em;
    font-weight: bold;
  }
  .articlesParent .list .wrapper h3 a {
    color: #000;
    text-transform: uppercase;
  }
  .articlesParent .list .wrapper h3 a:hover {
    color: #d2a450;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    .articlesParent .list .wrapper {
      margin: 0 0 30px 0;
      border-bottom: 1px solid #d2a450;
      padding-bottom: 10px;
    }
    .articlesParent .list .wrapper:last-child {
      border-bottom: none;
    }
  }
  /*#endregion */
  /*#region PAGE: Contacts */
  .contactPage .shops .wrapper {
    margin: 10px 0 25px 0;
  }
  .contactPage .shops .mapsLink {
    font-weight: bold;
    margin-top: 15px;
  }
  .contactPage .shops .wrapper .comment {
    color: #777;
    font-style: italic;
    font-size: 90%;
  }
  @media (max-width: 767px) {
    .contactPage .shops .wrapper {
      margin: 10px 0 30px 0;
      border-bottom: 1px solid #d2a450;
      padding-bottom: 10px;
    }
  }
  /*#endregion */
  /*#region PARTIAL: _ArticleList */
  .articleList .wrapper {
    width: 100%;
    /*max-width: 450px;*/
    margin: 0 0 30px 0;
    background-color: #fcfcfc;
    box-shadow: 3px 3px 15px 0px #b4b4b4;
  }
  .articleList .wrapper .image {
    min-height: 150px;
    max-height: 250px;
    overflow: hidden;
    border-right: 1px solid #cecece;
    /*border-top: 1px solid #cecece;*/
    border-left: 1px solid #cecece;
  }
  .articleList .wrapper .image a {
    display: block;
  }
  .articleList .wrapper .image img {
    /* corrects inline gap in enclosing div */
    display: block;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    width: 100%;
    /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic;
    border: 0;
  }
  .articleList .wrapper .desc {
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    padding: 16px 15px;
  }
  .articleList .wrapper .desc h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4.8px;
  }
  .articleList .wrapper .desc h3 a {
    color: #000000;
    text-decoration: none;
  }
  .articleList .wrapper .desc h3 a:hover {
    color: #d2a450;
    text-decoration: none;
  }
  /*#endregion */
  .frame {
    /*display: inline-block;*/
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.125);
  }
  /*#region ---------------------------- Faq -------------------------- */
  .faq .qaItem {
    margin: 20px 0 25px 0;
  }
  .faq .question {
    font-weight: bold;
  }
  /*#endregion */
  /*#region --------------------RTE--------------------- */
  span.rteimg {
    clear: both;
  }
  span.rteimg img {
    /*display: inline-block;*/
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.125);
  }
  @media (max-width: 767px) {
    .rte span.image-left img,
    .rte span.image-right img {
      display: block;
      max-width: 100%;
      height: auto !important;
      margin: 10px 10px 10px 10px;
    }
  }
  @media (min-width: 768px) {
    .rte span.image-left img {
      float: left;
      margin-right: 2em;
    }
    .rte span.image-right img {
      float: right;
      margin-left: 2em;
    }
  }
  /*# sourceMappingURL=site.css.map */